<html>
    <body>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Marks</th>
                <th colspan="2">Action</th>
            </tr>
        {% for student in students %}
        <tr>
            <td>{{student.name}}</td>
            <td>{{student.marks}}</td>
            <td><a href="/edit/{{student.id}}">Edit</a></td>
            <td><a href="/delete/{{student.id}}">Delete</a></td>
        </tr>
        
        {% endfor %}
        </table>
    </body>
</html>